$font-book: 'Gotham Book';
$font-medium: 'Gotham Medium';
$font-light: 'Gotham Light';
$font-bold: 'Gotham Bold';

$color-base: #464c59;
$color-border: #2a2d34;
$color-white: #fff;
$color-highlight-with-red: #dc6362;
$color-highlight-with-blue: #505766;
$color-body-background: #d8d8d8;
$color-main-background: #f4f4f4;
$color-placeholders: #b4b4b4;
$color-body-text: #666;
$color-form-border: #2a2d34;
$color-font-light: #e5e5e5;
$color-footer-background: #363a44;
$color-remove-contact-hover: #373c46;

* {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0 none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background: $color-body-background;
    font-family: $font-book;
    color: $color-body-text;
}

.wrapper {
    padding-bottom: 70px;
}

header {
    width: 100%;
    height: 63px;
    background: $color-base;
    color: $color-white;
    font-family: $font-medium;
    font-size: 17px;
    line-height: 63px;
    text-align:  center;
    text-transform: uppercase;
}

.main {
    width: 433px;
    margin: 40px auto;
    background: $color-main-background;
}

form {
    padding: 10px;
    border-top: 1px solid $color-form-border;
    border-right: 1px solid $color-form-border;
    border-left: 1px solid $color-form-border;
}

.show-phone-numbers {
    display: inline-block;
}

dl{
   padding-top: 10px;
}

dt, dd {
    margin-bottom: 9px;
}

input {
    padding: 7px 7px;
    border-radius: 3px;
    border: 1px solid $color-placeholders;
}

input#searchText {
    width: 397px;
}

::-webkit-input-placeholder {
    font-family: $font-light;
    font-size: 14px;
    color: $color-placeholders;
}

/* Firefox 19+ */
::-moz-placeholder {
    font-family: $font-light;
    font-size: 14px;
    color: $color-placeholders;
}

/* Firefox 18- */
:-moz-placeholder {
    font-family: $font-light;
    font-size: 14px;
    color: $color-placeholders;
}

:-ms-input-placeholder {
    font-family: $font-light;
    font-size: 14px;
    color: $color-placeholders;
}

button {
    padding: 9px 12px;
    border-radius: 3px;
    background: $color-highlight-with-blue;
    color: $color-font-light;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
    cursor: pointer;
}

button:hover,
button:focus,
button:active {
    background: $color-remove-contact-hover;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: 1px solid $color-border;
}

.edit-contact {
    float: right;
    cursor: pointer;
    margin-right: 5px;
}

.edit-contact::after {
    content: '\0078';
    font-family: $font-bold;
}

.edit-contact:hover::after,
.edit-contact:focus::after,
.edit-contact:hover::after {
    color: $color-remove-contact-hover;
}

.remove-contact {
    float: right;
    cursor: pointer;
    margin-right: 5px;
}

.remove-contact::after {
    content: '\270E';
    font-family: $font-bold;
}

.remove-contact:hover::after,
.remove-contact:focus::after,
.remove-contact:hover::after {
    color: $color-remove-contact-hover;
}

.contact-name {
     width: 50%;
 }

.contact-phone-number {
    width: 50%;
}

.highlight-with-red {
    background: $color-highlight-with-red;
    color: $color-font-light;
}

.highlight-with-blue {
    background: $color-highlight-with-blue;
    color: $color-font-light;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.8s;
}

.is-phone-numbers-visible {
    opacity: 1;
}

footer {
    position: absolute;
    left:0;
    bottom:0;
    height: 70px;
    width: 100%;
    background: $color-footer-background;
    font-family: $font-book;
    font-size: 14px;
    line-height: 63px;
    color: $color-white;
    text-align:  center;
}

/*****FONTS********/
@font-face {
    font-family:'Gotham Bold';
    src: url('../fonts/Gotham/Gotham Bold.eot');
    src: url('../fonts/Gotham/Gotham Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham Bold.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham Bold.woff') format('woff'),
    url('../fonts/Gotham/Gotham Bold.svg#Gotham Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Gotham Book';
    src: url('../fonts/Gotham/Gotham-Book.eot');
    src: url('../fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Gotham Light';
    src: url('../fonts/Gotham/Gotham-Light.eot');
    src: url('../fonts/Gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-Light.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Light.woff') format('woff'),
    url('../fonts/Gotham/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Gotham Medium';
    src: url('../fonts/Gotham/Gotham-Medium.eot');
    src: url('../fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

