<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhoneBook</title>
    <script src="bundle.js"></script>
</head>
<body>
<div class="wrapper" ng-app="app" ng-controller="PhoneBookController as phoneBook">
    <header>
        <h1>{{ phoneBook.title }}</h1>
    </header>
    <main>
        <form>
            <fieldset>
                <dl>
                    <dd class="hide-phone-numbers"><input type="checkbox" ng-model="phoneBook.isPhoneNumbersVisible"
                        id="hidePhoneNumbers" aria-label="Toggle phone numbers">
                    </dd>
                    <dt class="hide-phone-numbers"><label for="hidePhoneNumbers">Hide phone numbers</label></dt>
                    <dt><label for="searchText">Filter contacts</label></dt>
                    <dd>
                        <input ng-model="searchText" name="searchText" id="searchText"
                               placeholder="Start typing first letters" />
                    </dd>
                    <dt><label for="contactName">Add new contact</label></dt>
                    <dd>
                        <input ng-model="phoneBook.contactName" placeholder="Name" id="contactName">
                        <input type="tel" ng-model="phoneBook.contactPhoneNumber" placeholder="Phone number">
                    </dd>
                </dl>
                <button ng-click="phoneBook.addContact(phoneBook.contactName, phoneBook.contactPhoneNumber)">
                    Add contact
                </button>
            </fieldset>
        </form>
        <table>
            <thead>
                <tr>
                    <td class="contact-name">Name</td>
                    <td class="contact-phone-number">Phone number</td>
                </tr>
            </thead>
            <tbody>
            <tr
                ng-repeat="contact in phoneBook.contacts | orderBy: 'name' | PhoneBookFilter:searchText "
                ng-class="{'highlight-with-red': contact.name.toLowerCase()[0] === 'a',
                    'highlight-with-blue': contact.name.toLowerCase()[0] === 'b'}">
                <td>{{ contact.name }}</td>
                <td class="is-phone-numbers-visible animate-show-hide" ng-show="phoneBook.isPhoneNumbersVisible">
                    {{ contact.phoneNumber }}
                    <span class="remove-contact" ng-click="phoneBook.removeContact(contact.name, contact.phoneNumber)"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<footer>© The Rolling Scopes School 2017</footer>
</body>
</html>
