<form name="editContactForm" class="form-bottom-border" novalidate>
    <fieldset>
        <dl>
            <dt><label for="contactName">Edit contact</label></dt>
            <dd>
                <input ng-model="contactName" id="contactName" name="contactName" ng-minlength="3" ng-maxlength="15"
                       ng-pattern="/^[a-zA-Z]+$/" required>
                <div class="error" ng-messages="editContactForm.contactName.$error" role="alert">
                    <p ng-message="required">You did not enter a field</p>
                    <p ng-message="minlength">Your field is too short</p>
                    <p ng-message="maxlength">Your field is too long</p>
                    <p ng-message="pattern">Only latin letters allowed</p>
                </div>
            </dd>
            <dd>
                <input type="tel" ng-model="contactPhoneNumber" id="contactNumber" name="contactNumber" ng-minlength="9"
                       ng-maxlength="17" required
                       ng-pattern="/^[\+]?[8]?[(]?[0-9]{3}[)]?[(]?([0-9]{2})?[)]?[0-9]{3}[-\s]?[0-9]{2}[-\s]?[0-9]{2}$/">
                <div class="error" ng-messages="editContactForm.contactNumber.$error" role="alert">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="minlength">Your field is too short</p>
                    <p ng-message="maxlength">Your field is too long</p>
                    <p ng-message="pattern">Must be a valid phone number</p>
                </div>
            </dd>
            <button ui-sref="home">
                Cancel
            </button>
            <input type="submit" value="Save" ng-click="onClick(contactName, contactPhoneNumber)">
        </dl>
    </fieldset>
</form>
